<!DOCTYPE html>
<html>
<head>
  <title>JTERA LFG Board</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
  <div id="app" class="container">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">JTERA LFG Board</h1>
        </div>
      </div>
    </section>
    
    <div v-if="!info">Loading</div>
    <div v-else>
      <p class="has-text-right">
        <span v-if="isOld" class="tag is-danger" title="2分以上データがアップロードされていません">!</span>
        最終更新: {{ info.updated_at.replace(/\s\+0900$/, '') }}
      </p>

      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>募集文</th>
            <th class="has-text-centered">リーダー</th>
            <th class="has-text-centered">メンバー数</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="lfg in info.lfgList">
            <td>{{ lfg.message }}</td>
            <td class="has-text-centered">{{ lfg.leader }}</td>
            <td class="has-text-centered">{{ lfg.playerCount }}/{{ lfg.isRaid == 0 ? 5 : 30 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data () {
        return {
          info: null,
          isOld: false
        }
      },
      mounted () {
        fetch('https://tera-lab.appspot.com/party_match_info', {mode:'cors'})
          .then(res => {return res.json()})
          .then(res => {
            this.info = res
            if (new Date() - new Date(res.updated_at) > 1000 * 60 * 2)
              this.isOld = true
          })
      }
    })
  </script>
</body>
</html>
